
<!DOCTYPE html>
{% load static %}
<html >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}" type="text/css">
</head>
<body>
    <h1 id="heading">Welcome To e-Yoga</h1>
    <div id="div_btn">
        <a id="button_up" href="/register">Sign up</a>
        <a id="button_in" href="/login">Sign in</a>
    </div>

    <div id="bkimage">

        <p id="yoga_journal">
            <span>Y</span>oga Journal is your number one source for in-depth yoga pose instruction,
            yoga sequences for beginners to advanced practitioners, guided meditations
            to keep your day stress-free, and yogic wisdom to inspire and strengthen
            your path to enlightenment. The light in me honors the light in you. Namaste.
        </p>
    </div>


</body>
</html>