<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="Logout.css">
</head>
<body>
    
    <ul >
        <li><a href="oneYoga.html">Home</a></li>
        <li><a href="suryaN.html">Surya Namaskar</a></li>
        <li><a href="BikramY.html">Bikram Yoga</a></li>
        <li><a href="HathaY.html">Hatha Yoga</a></li>
        <li><a href="VinyasaY.html">Vinyasa Yoga</a></li>
        <li><a href="KundaliniY.html">Kundalini Yoga</a></li>
        <li><a href="AnusaraY.html">Anusara Yoga</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="User.html">Welcome, chintoo</a></li>
        <li class="active"><a href="Logout.html">Logout</a></li>
    </ul>


    

</body>
</html>