<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'CSS/oneYoga.css' %}">

</head>
<body>

    <ul >
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/suryaNamaskar">Surya Namaskar</a></li>
        <li><a href="/BikramYoga">Bikram Yoga</a></li>
        <li><a href="/HathaYoga">Hatha Yoga</a></li>
        <li><a href="VinyasaYoga">Vinyasa Yoga</a></li>
        <li><a href="/KundaliniYoga">Kundalini Yoga</a></li>
        <li><a href="/AnusaraYoga">Anusara Yoga</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="#">Welcome, {{username}}</a></li>
        <li><a href="/Logout">Logout</a></li>
    </ul>
    <img id="image" src="{% static 'IMAGE/suryaNamaskar.jpg' %}">

    <script type = "text/javascript">
        var image = document.getElementById("image");
        var currentPos = 0;
        var images = ["{% static 'IMAGE/suryaNamaskar.jpg' %}", "{% static 'IMAGE/bikram1.jpg' %}",
        "{% static 'IMAGE/hatha1.jpg' %}", "{% static 'IMAGE/Vinyasa1.jpg' %}", "{% static 'IMAGE/kundalini.jpg' %}",
        "{% static 'IMAGE/anusara.jpg' %}"]

        function volgendefoto() {
            if (++currentPos >= images.length)
                currentPos = 0;

            image.src = images[currentPos];
        }

        setInterval(volgendefoto, 3000);
    </script>

    <div id="yoga">
        <h3>“Yoga is not just an exercise. It is a process and system through which human beings 
            can find their highest possible potential.”
        </h3>
    </div>
    <div id="yoga2">
        <h3>Yoga is a gentle way to improve your posture, balance, and coordination. Yoga is a 
            systematic practice of physical exercise, breath control, relaxation, diet control, 
            and positive thinking and meditation aimed at developing harmony in the body, mind, 
            and environment.
        </h3>
    </div>

</body>
</html>
